body {
  background-color: #d8d2c6;
}
body .container .menu .nav .right-content a {
  border-radius: 50px;
}
body .container .content .section-1 img {
  filter: grayscale(40%);
  filter: brightness(60%);
  border-radius: 23px;
}
body .container .content .section-2 {
  border-radius: 23px;
}
body .container .content .section-2 .text .more-btn {
  width: 120px;
  height: 120px;
  border: 1px solid;
  border-radius: 50%;
}
body .container .content .section-2 .img img {
  border-radius: 15px;
}
body .container .content .section-3 {
  border-radius: 23px;
}
body .container .content .section-3 .background-img {
  background-image: url(/assets/img/section03-00.jpeg);
  border-radius: 23px;
  height: 75vh;
  filter: grayscale(40%);
  filter: brightness(40%);
  opacity: 80%;
}
body .container .content .section-3 .more-btn {
  right: 3%;
  top: 10%;
  width: 120px;
  height: 120px;
  border: 1px solid;
  border-radius: 50%;
}
body .container .content .section-3 .cards {
  top: 145%;
  height: 542px;
  overflow-y: scroll;
}
body .container .content .section-3 .cards .section-3-1 {
  border-radius: 23px;
}
body .container .content .section-3 .cards .section-3-1 .img img {
  border-radius: 23px;
}
body .container .content .section-3 .cards .section-3-2 {
  border-radius: 23px;
}
body .container .content .section-3 .cards .section-3-2 .img img {
  border-radius: 23px;
}
body .container .content .section-3 .cards .section-3-3 {
  border-radius: 23px;
}
body .container .content .section-3 .cards .section-3-3 .img img {
  border-radius: 23px;
}
body .container .content .section-4 {
  margin-top: 50%;
  border-radius: 23px;
}
body .container .content .section-4 .img img {
  border-radius: 23px;
}
body .container .content .section-4 .text .more-btn {
  width: 120px;
  height: 120px;
  border: 1px solid;
  border-radius: 50%;
}
body .container .content .section-5 {
  border-radius: 23px;
}
body .container .content .section-5 .more-btn {
  width: 120px;
  height: 120px;
  border: 1px solid;
  border-radius: 50%;
}
body .container .content .section-6 {
  background-color: #ba9f81;
  border-radius: 23px;
}
body .container .content .section-6 .content .first .top div .img {
  border-radius: 23px;
  filter: grayscale(40%);
  filter: brightness(40%);
  opacity: 80%;
}
body .container .content .section-6 .content .first .bottom div .img {
  border-radius: 23px;
  filter: grayscale(40%);
  filter: brightness(40%);
  opacity: 80%;
}
body .container .content .section-6 .content .second div div img {
  border-radius: 23px;
  filter: grayscale(40%);
  filter: brightness(40%);
  opacity: 80%;
}
body .container .content .section-6 .content .third div div img {
  border-radius: 23px;
  filter: grayscale(40%);
  filter: brightness(40%);
  opacity: 80%;
}
body .container .content .section-6 .content .third div a {
  width: 120px;
  height: 120px;
  border: 1px solid;
  border-radius: 50%;
}
body .container .footer {
  background-color: #cda17c;
  border-radius: 23px;
}

/*# sourceMappingURL=home.css.map */
