$border-radius: 23px;
$position-values: (
    0: 0,
    50: 50%,
    100: 100%,
    157: 157%
);


body {
    background-color: #d8d2c6;

    .container {
        .menu {
            .nav {
                .left-content {}

                .right-content {
                    a {
                        border-radius: 50px;
                    }
                }
            }


        }

        .content {
            .section-1 {
                img {
                    filter: grayscale(40%);
                    filter: brightness(60%);
                    border-radius: $border-radius;
                }
            }

            .section-2 {
                border-radius: $border-radius;

                .text {
                    .more-btn {
                        width: 120px;
                        height: 120px;
                        border: 1px solid;
                        border-radius: 50%;
                    }
                }

                .img {
                    img {
                        border-radius: 15px;
                    }
                }
            }

            .section-3 {

                border-radius: $border-radius;

                .background-img {
                    background-image: url(/assets/img/section03-00.jpeg);
                    border-radius: $border-radius;
                    height: 75vh;
                    filter: grayscale(40%);
                    filter: brightness(40%);
                    opacity: 80%;
                }

                .text {}

                .more-btn {
                    right: 3%;
                    top: 10%;
                    width: 120px;
                    height: 120px;
                    border: 1px solid;
                    border-radius: 50%;
                }

                .cards {
                    top: 145%;
                    height: 542px;
                    overflow-y: scroll;

                    .section-3-1 {
                        border-radius: $border-radius;

                        .img {
                            img {
                                border-radius: $border-radius;
                            }
                        }
                    }

                    .section-3-2 {
                        border-radius: $border-radius;

                        .img {
                            img {
                                border-radius: $border-radius;
                            }
                        }
                    }

                    .section-3-3 {
                        border-radius: $border-radius;

                        .img {
                            img {
                                border-radius: $border-radius;
                            }
                        }
                    }
                }

            }

            .section-4 {
                margin-top: 50%;
                border-radius: $border-radius;

                .img {
                    img {
                        border-radius: $border-radius;
                    }
                }

                .text {
                    .more-btn {
                        width: 120px;
                        height: 120px;
                        border: 1px solid;
                        border-radius: 50%;
                    }
                }
            }

            .section-5 {
                border-radius: $border-radius;

                .more-btn {
                    width: 120px;
                    height: 120px;
                    border: 1px solid;
                    border-radius: 50%;
                }

            }

            .section-6 {
                background-color: #ba9f81;
                border-radius: $border-radius;

                .content {
                    .first {
                        .top {
                            div .img {
                                border-radius: $border-radius;
                                filter: grayscale(40%);
                                filter: brightness(40%);
                                opacity: 80%;
                            }

                        }

                        .bottom {
                            div .img {
                                border-radius: $border-radius;
                                filter: grayscale(40%);
                                filter: brightness(40%);
                                opacity: 80%;
                            }
                        }
                    }

                    .second {
                        div {
                            div {
                                img {
                                    border-radius: $border-radius;
                                    filter: grayscale(40%);
                                    filter: brightness(40%);
                                    opacity: 80%;
                                }
                            }
                        }
                    }

                    .third {
                        div {
                            div {
                                img {
                                    border-radius: $border-radius;
                                    filter: grayscale(40%);
                                    filter: brightness(40%);
                                    opacity: 80%;
                                }
                            }
                        }

                        div {
                            a {
                                width: 120px;
                                height: 120px;
                                border: 1px solid;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }


        }

        .footer {
            background-color: #cda17c;
            border-radius: $border-radius;

        }
    }
}